#!/bin/bash -e
#SBATCH --job-name={{dataset}}_{{method}}
#SBATCH --time={{duration}}
#SBATCH --mem={{memory}}
#SBATCH --cpus-per-task=2
#SBATCH --gpus-per-node=L4:1
#SBATCH --output=logs/{{dataset}}_{{method}}.log
#SBATCH --array=0-0

export PATH=$NESI_PYVENV/inflora/bin:$PATH

set -x # Echo commands to stdout
set -e # Exit on error

python main.py --device 0 --config configs/{{dataset}}_{{method}}.yaml --seed "$SLURM_ARRAY_TASK_ID"

